.navbar {
  border:2px solid #ED6B47;
}

.border-bottom {
  border-top:2px solid #ED6B47;
}

.btn-info {
    background-color: #28b0b8 !important;
    margin-top: 5px;
    margin-bottom: 10px;
}

.btn-info:hover {
    background-color: #28b0b8;
    box-shadow: 0 5px 10px -5px #ED6B47 !important;
    transform:scale(1.2,1.2);
}

.btn-success {
  background-color: #ED6B47;
  box-shadow: 0 5px 10px -5px #28b0b8 !important;
}

.btn-success:hover {
  background-color: #ED6B47;
  box-shadow: 0 5px 10px -5px #28b0b8 !important;
  transform:scale(1.1,1.1);
}

.btn-success:active {
  background-color: #ED6B47;
  box-shadow: 0 5px 10px -5px #28b0b8 !important;
}

input {
  line-height: initial !important;
  font-size: initial !important;
  text-align: center;
}

.row {
    --mdb-gutter-x: 0;
}

div {
    overflow: hidden;
  }

#workout-form-card {
  border:5px solid #28b0b8;
}

.input-field{
    box-sizing:border-box;
}

input {
  max-width: 100%;
}

h2 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

#workout-basic {
  padding-top: 10px;
}

/* Hide all steps by default: */
.tab {
    display: none;
  }
  
  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }
  
  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }
  
  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #28b0b8;
  }

  label {
    font-size: 14px;
    font-family: Roboto;
  }

--mdb-btn-hover-bg, --mdb-btn-bg {
  background-color: #28b0b8;
}

.tab-button {
  border: none;
  background-color: #fff;
  border-radius: 10%;
}

.tab-button:hover {
  background-color: #ED6B47;
}

h6 {
  font-size: 14px;
}

.blank-button {
  background-color: #fff;
  border: none;
}

.hidden-form-field {
  display: none;
}

/* Media Queries */
@media (max-width: 500px) {
    #gym-logger-logo {
        width: 25%;
        height: 25%;
        text-align: center;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .navbar {
      font-size: 12px;
    }
    .nav-link {
      padding: 0;
    }

    h2{
      font-size: 14px;
    }

    .workout-full {
      display: none;
    }
  }

@media (min-width: 499px) {
  #mobile-record-button {
    display: none;
  }
}