{% extends "base.html" %}
{% block content %}
<div class="card text-center">
    <form class="col s12" method="POST" action="{{ url_for('add_exercise') }}">
        <!-- exercise name -->
        <div class="row">
            <div class="input-field col-6">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <input id="exercise_title" name="exercise_title" minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="exercise_title">Exercise Title</label>
            </div>
        <!-- exercise category -->
            <div class="input-field col-6">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <input id="exercise_category" name="exercise_category" minlength="3" maxlength="25" type="text" class="validate" required>
                <label for="exercise_category">Exercise Category</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add  <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}