{% extends "base.html" %}
{% block content %}
<div class="row">
    <h4 class="text-center">
        Exercises
    </h4>
</div>

<div class="row">
    {% for exercise in exercises %}
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ exercise.exercise_name }}</h5>
          <h5 class="card-title">{{ exercise.exercise_category }}</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary" data-mdb-ripple-init>Go somewhere</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
    <div class="mx-auto text-center">
        <a href="{{ url_for('add_exercise') }}" class="btn btn-info">
            Add Exercise <i class="fas fa-plus-square right"></i>
        </a>
    </div>

{% endblock %}