{% extends "base.html" %} {% block content %}
<br />
<div class="row mx-auto text-center">
  <h3 id="profile-name" class="text-center">
    <u><i>{{ username }}'s</i> Profile</u>
  </h3>
</div>
<br />
<div class="row shadow-lg bg-white rounded">
  <div
    class="card shadow-lg bg-white rounded col-sm-12 col-md-6 mx-auto text-center"
  >
    <u>At A Glance</u>
    <span>total recorded workouts: {{user_total_workouts}}</span>
    <!-- mobile created workouts that need to be added to full archive -->
  </div>
  <div
    class="card shadow-lg bg-white rounded col-sm-12 col-md-6 mx-auto text-center"
  >
    <u>Action Required</u>
        <!-- mobile created workouts that need to be added to full archive -->
    <span>mobile workouts to be archived: {{total_user_mobile_workouts}} </span>
  </div>
</div>
<br />
<div id="recorded-workouts" class="col-sm-12 col-md-12 mx-auto card">
  <div class="row shadow-lg bg-white rounded">
    <h4 id="profile-total-records" class="text-center">
      Recorded Workouts for <i>{{ username }}:</i>
    </h4>
    <button
      id="workout-details-toggle"
      class="blank-button mobile-profile-spacer"
      data-mdb-collapse-init
      data-mdb-ripple-init
      data-mdb-target="#profile-workouts-container"
      aria-expanded="false"
    >
      <i class="fa-solid fa-2x fa-caret-down mobile-profile-spacer"></i>
    </button>
    {% for paginated_workout in items|sort(attribute="workout_date_time",
    reverse = True) %} {% if paginated_workout.created_by == session.user %}
    <div
      id="profile-workouts-container"
      class="col-12 col-md-4 collapse btn-info profile-full"
    >
      <button id="" class="col-12 logged-collapse-button data-mdb-ripple-init">
        <div id="profile-description-span">
          <a
            target=""
            href="{{ url_for('workout_details', workout_id=paginated_workout.id) }}"
            ><span>{{paginated_workout.workout_title}}</span></a
          >
          <br />
          <span class="mobile-profile-details"
            >{{paginated_workout.workout_date_time}}</span
          >
          <br />
          <span class="mobile-profile-details"
            >{{paginated_workout.workout_location}}</span
          >
        </div>
      </button>
    </div>
    {% endif %} {% endfor %}
  </div>
  <!-- Navigation section for pagination controls -->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <!-- Check if there is a previous page -->
      {% if pagination.has_prev %}
      <li class="page-item">
        <!-- If there is, create a link to the previous page -->
        <a
          class="page-link"
          href="/profile/{{ username }}?page={{ pagination.prev_num }}"
          >Previous</a
        >
      </li>
      {% else %}
      <!-- If not, show a disabled 'Previous' button -->
      <li class="page-item disabled">
        <span class="page-link">Previous</span>
      </li>
      {% endif %}

      <!-- Loop through each page number provided by pagination.iter_pages() -->
      {% for page_num in pagination.iter_pages() %}
      <!-- Check if the page number exists (not None) -->
      {% if page_num %}
      <!-- Check if the current page is not the active page -->
      {% if page_num != pagination.page %}
      <!-- Create a clickable link for the page number -->
      <li class="page-item">
        <a class="page-link" href="/profile/{{ username }}?page={{ page_num }}"
          >{{ page_num }}</a
        >
      </li>
      {% else %}
      <!-- Highlight the current page as active and not clickable -->
      <li class="page-item active" aria-current="page">
        <span class="page-link">{{ page_num }}</span>
      </li>
      {% endif %} {% else %}
      <!-- For gaps in the pagination links, show ellipsis -->
      <li class="page-item disabled"><span class="page-link">...</span></li>
      {% endif %} {% endfor %}

      <!-- Check if there is a next page -->
      {% if pagination.has_next %}
      <li class="page-item">
        <!-- If there is, create a link to the next page -->
        <a
          class="page-link"
          href="/profile/{{ username }}?page={{ pagination.next_num }}"
          >Next</a
        >
      </li>
      {% else %}
      <!-- If not, show a disabled 'Next' button -->
      <li class="page-item disabled"><span class="page-link">Next</span></li>
      {% endif %}
    </ul>
  </nav>
</div>

{% endblock %}
