{% extends "base.html" %}
{% block content %}
<div class="card mx-auto text-center">
    <form id="" class="col-12" method="POST" action="{{ url_for('quick_edit', workout_id=workout.id) }}">
        <label for="edit-exercise-two">
            <h4>Completed Exercise Two For: <i>"{{ workout.workout_title }}"</i></h4>
        </label>
        <div class="" id="exercise-page-two">
            <!-- exercise two -->

            <div class="input-field col-sm-12 mx-auto text-center">
                <select id="mobile_exercise_two_category" name="mobile_exercise_two_category" minlength="3" maxlength="25" type="text"
                    class="validate col-sm-5" required>
                    <option disabled selected value> --Exercise Category -- </option>
                    {% for mongo_category in mongo_categories %}
                    <option id="mobile_exercise_two_category_selected" value="{{ mongo_category.mongo_category }}"> {{ mongo_category.mongo_category}} </option>
                    {% endfor %}
                </select>
                <select id="mobile_exercise_two_name" name="mobile_exercise_two_name" minlength="3" maxlength="50" type="text"
                    class="validate col-sm-5" required>
                    <option disabled selected value> -- Select Exercise -- </option>
                       
                </select>
            </div>
            <div class="input-field col-sm-12 mx-auto text-center">
                <select id="exercise_two_modifier_one" name="exercise_two_modifier_one" minlength="3" maxlength="25"
                    type="text" class="validate col-sm-5" required>
                    <option disabled selected value> --Modifier 1 -- </option>
                    {% for modifier in modifiers %}
                    <option value="{{ modifier.modifier_name }}"> {{ modifier.modifier_name}} </option>
                    {% endfor %}
                </select>
                <input id="exercise_two_total_one" name="exercise_two_total_one" maxlength="3" type="number" step="0.01"
                    class="validate col-sm-5" required value="0">
            </div>
            <div class="input-field col-sm-12 mx-auto text-center">
                <select id="exercise_two_modifier_two" name="exercise_two_modifier_two" minlength="3" maxlength="25"
                    type="text" class="validate col-sm-5" required>
                    <option disabled selected value> --Modifier 2 -- </option>
                    {% for modifier in modifiers %}
                    <option value="{{ modifier.modifier_name }}"> {{ modifier.modifier_name}} </option>
                    {% endfor %}
                </select>
                <input id="exercise_two_total_two" name="exercise_two_total_two" maxlength="3" type="number" step="0.01"
                    class="validate col-sm-5" required value="0">
            </div>
            <div class="input-field col-sm-12 mx-auto text-center">
                <select id="exercise_two_modifier_two" name="exercise_two_modifier_three" minlength="3"
                    maxlength="25" type="text" class="validate col-sm-5" required>
                    <option disabled selected value> --Modifier 3 -- </option>
                    {% for modifier in modifiers %}
                    <option value="{{ modifier.modifier_name }}"> {{ modifier.modifier_name}} </option>
                    {% endfor %}
                </select>
                <input id="exercise_two_total_three" name="exercise_two_total_three" maxlength="3" type="number" step="0.01"
                    class="validate col-sm-5" required value="0">
            </div>
            <br>
            <div class="row">
                <button id="continue-logging" type="susbmit" class="btn btn-success col-5 mx-auto">
                    Continue Logging <i class="fas fa-edit right"></i>
                </button>
                    <div id="skip-button" class="btn btn-success col-5 mx-auto">Skip To Complete Record</div>
              </div>
              <br>
              <div id="mobile-additional-information" class="col-10 mx-auto hidden">
                <h2>Additional Information</h2>
                <div class="row">
                    <input id="mobile_additional_information" name="mobile_additional_information" minlength="3"
                        maxlength="100" type="text" class="validate" placeholder = "Additional Information">
                    <br>
                </div>
            </div>
            <div id="mobile-visible-switch" class="form-check form-switch mx-auto text-center hidden">
                <br>
                <div>
                <label class="form-check-label">
                    <input class="form-check-input col-6 mx-auto" type="checkbox" role="switch"
                        id="is-visible" name="is-visible" checked>
                    </div> 
                Would you like this workout to be publicly visible?</label>
            </div>
            <div id="mobile-exercise-submit" class="row hidden">
                <div class="col s12 center-align">
                    <button  id="mobile-final-submit" type="submit" class="btn-large light-blue darken-1">
                        Complete Record <i class="fas fa-edit right"></i>
                    </button>
                </div>
            </div>
    </form>
    <br>
    <div class="row">
    <div class="col-6">
        <u><a href="{{ url_for('workouts')}}" class="link-primary" id="mobile-all-workouts">View all recorded workouts</a></u>
    </div>
    <div class="col-6">
        <u><a href="{{ url_for('profile', username=session['user'])}}" class="link-primary" id="mobile-all-workouts">View your profile</a></u>
    </div>
</div>
</div>

{% endblock %}