{% extends "base.html" %}
{% block content %}

<div class="card mx-auto text-center">
  {% for workout in workouts|sort(attribute="workout_date_time")  %}
  {% if loop.index == loop.length %}
    <div class="card text-center">
      <h5 class="card-title">"{{ workout.workout_title }}"</h5>
      <h5 class="card-title">{{ workout.workout_location }}</h5>
      <h5 class="card-title">{{ workout.workout_date_time }}</h5>
      <h6>Completed Exercise One: {{ workout.exercise_one_name }}</h6>
      <h6></h6>
    <div class="row">
    <a href="{{ url_for('quick_edit', workout_id=workout.id) }}" class="btn btn-success col-5 mx-auto">Continue Logging This Workout</a>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock %}