{% extends "base.html" %}
{% block content %}
<div class="row">
    <h4 class="text-center">
        Continuing Logging Your Workout
    </h4>
</div>



<div class="row">
   <div>
    <h1>{{workouts[-1].workout_title}}</h1>
   </div>
  </div>
   <!-- workout name -->
   <div class="row">
    <div class="input-field col s12">
        <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
        <input id="workout_title" name="workout_location" value="{{workouts[-1].workout_location}}" minlength="3" maxlength="25" type="text" class="validate" required>
        <label for="workout_title">Workout Location</label>
    </div>
</div>
<!-- workout date -->
<div class="row">
    <div class="input-field col s12">
        <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
        <input id="workout_date_time" name="workout_date_time" value="{{workouts[-1].workout_date_time}}" minlength="3" maxlength="25" type="text" class="validate" required>
        <label for="workout_date_time">Workout Date</label>
    </div>
</div>
{% endblock %}