{% extends "base.html" %}
{% block content %}
<div class="card text-center">
    <form id="workout-form" class="col-12" method="POST" action="{{ url_for('record_workout') }}">
        <!-- category name -->

        <div class="tab" id="workout-basic">
            <div class="input-field col-12">
                <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                <label for="workout_title">Workout Title</label>
                <br>
                <input id="workout_title" name="workout_title" minlength="3" maxlength="25" type="text" class="validate"
                    required>

            </div>
            <div class="row">
                <div class="input-field col-6">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="workout_date_time" name="workout_date_time" type="datetime-local" class="validate" required>
                    <label for="workout_date_time">Workout Date</label>
                </div>
                <div class="input-field col-6">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="workout_location" name="workout_location" minlength="3" maxlength="50" type="text"
                        class="validate" required>
                    <label for="workout_location">Workout Location</label>
                </div>
            </div>
        </div>

        <div class="tab" id="exercise-page-one">
        <!-- exercise one -->
            <div class="row">
                <div class="row mx-auto">
                    <h2>Exercise One</h2>
                </div>
                <div class="input-field col-2">
                    <input id="exercise_one_name" name="exercise_one_name" minlength="3" maxlength="50" type="text"
                        class="validate" required>
                    <label for="exercise_one_name">Exercise</label>
                </div>
                <div class="input-field col-2">
                    <input id="exercise_one_category" name="exercise_one_category" minlength="3" maxlength="25"
                        type="text" class="validate" required>
                    <label for="exercise_one_category">Category</label>
                </div>
                <div class="input-field col-2">
                    <input id="exercise_one_modifier_one" name="exercise_one_modifier_one" minlength="3" maxlength="25"
                        type="text" class="validate" required>
                    <label for="exercise_one_modifier_one">Modifier 1</label>
                </div>
                <div class="input-field col-2">
                    <input id="exercise_one_modifier_two" name="exercise_one_modifier_two" minlength="3" maxlength="25"
                        type="text" class="validate" required>
                    <label for="exercise_one_modifier_two">Modifier 2</label>
                </div>
                <div class="input-field col-2">
                    <input id="exercise_one_modifier_three" name="exercise_one_modifier_three" minlength="3"
                        maxlength="25" type="text" class="validate" required>
                    <label for="exercise_one_modifier_three">Modifier 3</label>
                </div>
                <div class="input-field col-2">
                    <div class="row" id="modifier-row">
                        <div class="col-4">
                            <input id="exercise_one_total_one" name="exercise_one_total_one" maxlength="3" type="number"
                                class="validate" required value="0">
                                <label for="exercise_one_modifier_one">Total 1</label>
                        </div>
                        <div class="col-4">
                            <input id="exercise_one_total_two" name="exercise_one_total_two" maxlength="3" type="number"
                                class="validate" required value="0">
                                <label for="exercise_one_modifier_one">Total 2</label>
                        </div>
                        <div class="col-4">
                            <input id="exercise_one_total_three" name="exercise_one_total_three" maxlength="3"
                                type="number" class="validate" required value="0">
                                <label for="exercise_one_modifier_one">Total 3</label>
                        </div>
                    </div>
                </div>
            </div>

            <!-- exercise two -->

            <div class="row">
                <div class="row mx-auto">
                    <h2>Exercise Two</h2>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_two_name" name="exercise_two_name" minlength="3" maxlength="50" type="text"
                        class="validate">
                    <label for="exercise_two_name">Exercise</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_two_category" name="exercise_two_category" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_two_category">Category</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_two_modifier_one" name="exercise_two_modifier_one" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_two_modifier_one">Modifier One</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_two_modifier_two" name="exercise_two_modifier_two" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_two_modifier_two">Modifier Two</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_two_modifier_three" name="exercise_two_modifier_three" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_two_modifier_three">Modifier Three</label>
                </div>
                <div class="input-field col-2">
                    <div class="row">
                        <div class="col-3">
                            <input id="exercise_two_total_one" name="exercise_two_total_one" maxlength="3" type="number"
                                class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_two_total_two" name="exercise_two_total_two" maxlength="3" type="number"
                                class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_two_total_three" name="exercise_two_total_three" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                    </div>
                </div>
            </div>

            <!-- exercise three -->

            <div class="row">
                <div class="row mx-auto">
                    <h2>Exercise Three</h2>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_three_name" name="exercise_three_name" minlength="3" maxlength="50" type="text"
                        class="validate">
                    <label for="exercise_three_name">Exercise</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_three_category" name="exercise_three_category" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_three_category">Category</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_three_modifier_one" name="exercise_three_modifier_one" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_three_modifier_one">Modifier One</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_three_modifier_two" name="exercise_three_modifier_two" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_three_modifier_two">Modifier Two</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_three_modifier_three" name="exercise_three_modifier_three" minlength="3"
                        maxlength="25" type="text" class="validate" >
                    <label for="exercise_three_modifier_three">Modifier Three</label>
                </div>
                <div class="input-field col-2">
                    <div class="row">
                        <div class="col-3">
                            <input id="exercise_three_total_one" name="exercise_three_total_one" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_three_total_two" name="exercise_three_total_two" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_three_total_three" name="exercise_three_total_three" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                    </div>
                </div>
            </div>
        
            <!-- exercise four -->
            <div class="row">
                <div class="row mx-auto">
                    <h2>Exercise Four</h2>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_four_name" name="exercise_four_name" minlength="3" maxlength="50" type="text"
                        class="validate">
                    <label for="exercise_four_name">Exercise</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_four_category" name="exercise_four_category" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_four_category">Category</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_four_modifier_one" name="exercise_four_modifier_one" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_four_modifier_one">Modifier One</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_four_modifier_two" name="exercise_four_modifier_two" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_four_modifier_two">Modifier Two</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_four_modifier_three" name="exercise_four_modifier_three" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_four_modifier_three">Modifier Three</label>
                </div>
                <div class="input-field col-2">
                    <div class="row">
                        <div class="col-3">
                            <input id="exercise_four_total_one" name="exercise_four_total_one" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_four_total_two" name="exercise_four_total_two" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_four_total_three" name="exercise_four_total_three" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab" id="exercise-page-two">
            <!-- exercise five -->

            <div class="row">
                <div class="row mx-auto">
                    <h2>Exercise Five</h2>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_five_name" name="exercise_five_name" minlength="3" maxlength="50" type="text"
                        class="validate">
                    <label for="exercise_five_name">Exercise</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_five_category" name="exercise_five_category" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_five_category">Category</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_five_modifier_one" name="exercise_five_modifier_one" minlength="3"
                        maxlength="25" type="text" class="validate" >
                    <label for="exercise_five_modifier_one">Modifier One</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_five_modifier_two" name="exercise_five_modifier_two" minlength="3"
                        maxlength="25" type="text" class="validate" >
                    <label for="exercise_five_modifier_two">Modifier Two</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_five_modifier_three" name="exercise_five_modifier_three" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_five_modifier_three">Modifier Three</label>
                </div>
                <div class="input-field col-2">
                    <div class="row">
                        <div class="col-3">
                            <input id="exercise_five_total_one" name="exercise_five_total_one" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_five_total_two" name="exercise_five_total_two" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_five_total_three" name="exercise_five_total_three" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                    </div>
                </div>
            </div>


            <!-- exercise six -->

            <div class="row">
                <div class="row mx-auto">
                    <h2>Exercise Six</h2>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_six_name" name="exercise_six_name" minlength="3" maxlength="50" type="text"
                        class="validate">
                    <label for="exercise_six_name">Exercise</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_six_category" name="exercise_six_category" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_six_category">Category</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_six_modifier_one" name="exercise_six_modifier_one" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_six_modifier_one">Modifier One</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_six_modifier_two" name="exercise_six_modifier_two" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_six_modifier_two">Modifier Two</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_six_modifier_three" name="exercise_six_modifier_three" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_six_modifier_three">Modifier Three</label>
                </div>
                <div class="input-field col-2">
                    <div class="row">
                        <div class="col-3">
                            <input id="exercise_six_total_one" name="exercise_six_total_one" maxlength="3" type="number"
                                class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_six_total_two" name="exercise_six_total_two" maxlength="3" type="number"
                                class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_six_total_three" name="exercise_six_total_three" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                    </div>
                </div>
            </div>

            <!-- exercise seven -->

            <div class="row">
                <div class="row mx-auto">
                    <h2>Exercise Seven</h2>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_seven_name" name="exercise_seven_name" minlength="3" maxlength="50" type="text"
                        class="validate">
                    <label for="exercise_seven_name">Exercise</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_seven_category" name="exercise_seven_category" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_seven_category">Category</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_seven_modifier_one" name="exercise_seven_modifier_one" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_seven_modifier_one">Modifier One</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_seven_modifier_two" name="exercise_seven_modifier_two" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_seven_modifier_two">Modifier Two</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_seven_modifier_three" name="exercise_seven_modifier_three" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_seven_modifier_three">Modifier Three</label>
                </div>
                <div class="input-field col-2">
                    <div class="row">
                        <div class="col-3">
                            <input id="exercise_seven_total_one" name="exercise_seven_total_one" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_seven_total_two" name="exercise_seven_total_two" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_seven_total_three" name="exercise_seven_total_three" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                    </div>
                </div>
            </div>

            <!-- exercise eight -->

            <div class="row">
                <div class="row mx-auto">
                    <h2>Exercise Eight</h2>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_eight_name" name="exercise_eight_name" minlength="3" maxlength="50" type="text"
                        class="validate">
                    <label for="exercise_eight_name">Exercise</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_eight_category" name="exercise_eight_category" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_eight_category">Category</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_eight_modifier_one" name="exercise_eight_modifier_one" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_eight_modifier_one">Modifier One</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_eight_modifier_two" name="exercise_eight_modifier_two" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_eight_modifier_two">Modifier Two</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_eight_modifier_three" name="exercise_eight_modifier_three" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_eight_modifier_three">Modifier Three</label>
                </div>
                <div class="input-field col-2">
                    <div class="row">
                        <div class="col-3">
                            <input id="exercise_eight_total_one" name="exercise_eight_total_one" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_eight_total_two" name="exercise_eight_total_two" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_eight_total_three" name="exercise_eight_total_three" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tab" id="exercise-page-three">
            <!-- exercise nine -->
            <div class="row">
                <div class="row mx-auto">
                    <h2>Exercise Nine</h2>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_nine_name" name="exercise_nine_name" minlength="3" maxlength="50" type="text"
                        class="validate">
                    <label for="exercise_nine_name">Exercise</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_nine_category" name="exercise_nine_category" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_nine_category">Category</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_nine_modifier_one" name="exercise_nine_modifier_one" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_nine_modifier_one">Modifier One</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_nine_modifier_two" name="exercise_nine_modifier_two" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_nine_modifier_two">Modifier Two</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_nine_modifier_three" name="exercise_nine_modifier_three" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_nine_modifier_three">Modifier Three</label>
                </div>
                <div class="input-field col-2">
                    <div class="row">
                        <div class="col-3">
                            <input id="exercise_nine_total_one" name="exercise_nine_total_one" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_nine_total_two" name="exercise_nine_total_two" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_nine_total_three" name="exercise_nine_total_three" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                    </div>
                </div>
            </div>
            <!-- exercise ten -->
            <div class="row">
                <div class="row mx-auto">
                    <h2>Exercise Ten</h2>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_ten_name" name="exercise_ten_name" minlength="3" maxlength="50" type="text"
                        class="validate">
                    <label for="exercise_ten_name">Exercise</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_ten_category" name="exercise_ten_category" minlength="3" maxlength="25"
                        type="text" class="validate">
                    <label for="exercise_ten_category">Category</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_ten_modifier_one" name="exercise_ten_modifier_one" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_ten_modifier_one">Modifier One</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_ten_modifier_two" name="exercise_ten_modifier_two" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_ten_modifier_two">Modifier Two</label>
                </div>
                <div class="input-field col-2">
                    <i class="fas fa-folder-open prefix light-blue-text text-darken-4"></i>
                    <input id="exercise_ten_modifier_three" name="exercise_ten_modifier_three" minlength="3"
                        maxlength="25" type="text" class="validate">
                    <label for="exercise_ten_modifier_three">Modifier Three</label>
                </div>
                <div class="input-field col-2">
                    <div class="row">
                        <div class="col-3">
                            <input id="exercise_ten_total_one" name="exercise_ten_total_one" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_ten_total_two" name="exercise_ten_total_two" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                        <div class="col-3">
                            <input id="exercise_ten_total_three" name="exercise_ten_total_three" maxlength="3"
                                type="number" class="validate" value="0">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- form progress -->

        <div style="overflow:auto;">
            <div style="float:right;">
                <button type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
                <button type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
            </div>
        </div>

        <!-- Circles which indicates the steps of the form: -->
        <div style="text-align:center;margin-top:40px;">
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
            <span class="step"></span>
        </div>

        <!-- submit button -->
        <div class="row">
            <div class="col s12 center-align">
                <button type="submit" class="btn-large light-blue darken-1">
                    Add <i class="fas fa-plus-square right"></i>
                </button>
            </div>
        </div>
        </form>
        </div>

{% endblock %}