{% extends "base.html" %}
{% block content %}

<!-- View Workout Details Container-->

<div id="view-record-container" class="card text-center col-sm-12">
    <div sm-12>
        <div class="">
            <h3 id="workout-detail-header" class="center-align">"{{ workout.workout_title
        }}": {{workout.workout_location}}</h3>
        </div>
    </div>
    <!--View Workout Date-->

    <div id="view-workout-date" class="">
        <h3>{{workout.workout_date_time}}</h3>
    </div>

        <!--View Workout Location-->

        <div id="view-workout-location" class="">
           
        </div>
    

    <!--Workout Information-->

    <!--View Workout Exercises Line 1-->

    <div id="view-workouts-container" class="">
        <span>
            <h4>Exercises Completed</h4>
        </span>
        <div class="row">
            <div class="btn col-sm-12 col-md-2 gx-0">
                <h5 class="col-sm-3 col-md-12 mx-auto">Category</h5>
                <input type="text" class="form-control col-sm-3 col-md-12 mx-auto" id="category" name="category"
                    value="{{workout.exercise_one_category}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
                <h5>Specfic Exercise</h5>
                <input type="text" class="form-control" id="exercise" name="exercise"
                    value="{{workout.exercise_one_name}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <h5>Total One</h5>
                <input type="text" class="form-control" id="total_one" name="total_one"
                    value="{{workout.exercise_one_modifier_one}} : {{workout.exercise_one_total_one}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <h5>Total Two</h5>
                <input type="text" class="form-control" id="total_two" name="total_two"
                    value="{{workout.exercise_one_modifier_two}} : {{workout.exercise_one_total_two}}" disabled>
            </div>
            <div class=" btn col-md-2 gx-0">
                <h5>Total Three</h5>
                <input type="text" class="form-control" id="total_three" name="total_three"
                    value="{{workout.exercise_one_modifier_three}} : {{workout.exercise_one_total_three}}" disabled>
            </div>
        </div>
        <!--View Workout Exercises Line 2-->

        {% if workout.exercise_two_name %}
        <div class="col-12">
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="category" name="category"
                    value="{{workout.exercise_two_category}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise"
                    value="{{workout.exercise_two_name}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_one" name="total_one"
                    value="{{workout.exercise_two_modifier_one}} : {{workout.exercise_two_total_one}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_two" name="total_two"
                    value="{{workout.exercise_two_modifier_two}} : {{workout.exercise_two_total_two}}" disabled>
            </div>
            <div class=" btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_three" name="total_three"
                    value="{{workout.exercise_two_modifier_three}} : {{workout.exercise_two_total_three}}" disabled>
            </div>
        </div>
        {% endif %}

        <!--View Workout Exercises Line 3-->

        {% if workout.exercise_three_name %}
        <div class="col-12">
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="category" name="category"
                    value="{{workout.exercise_three_category}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise"
                    value="{{workout.exercise_three_name}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_one" name="total_one"
                    value="{{workout.exercise_three_modifier_one}} : {{workout.exercise_three_total_one}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_two" name="total_two"
                    value="{{workout.exercise_three_modifier_two}} : {{workout.exercise_three_total_two}}" disabled>
            </div>
            <div class=" btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_three" name="total_three"
                    value="{{workout.exercise_three_modifier_three}} : {{workout.exercise_three_total_three}}" disabled>
            </div>
        </div>
        {% endif %}

        <!--View Workout Exercises Line 4-->

        {% if workout.exercise_four_name %}
        <div class="col-12">
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="category" name="category"
                    value="{{workout.exercise_four_category}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise"
                    value="{{workout.exercise_four_name}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_one" name="total_one"
                    value="{{workout.exercise_four_modifier_one}} : {{workout.exercise_four_total_one}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_two" name="total_two"
                    value="{{workout.exercise_four_modifier_two}} : {{workout.exercise_four_total_two}}" disabled>
            </div>
            <div class=" btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_three" name="total_three"
                    value="{{workout.exercise_four_modifier_three}} : {{workout.exercise_four_total_three}}" disabled>
            </div>
        </div>
        {% endif %}


        <!--View Workout Exercises Line 5-->

        {% if workout.exercise_five_name %}
        <div class="col-12">
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="category" name="category"
                    value="{{workout.exercise_five_category}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise"
                    value="{{workout.exercise_five_name}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_one" name="total_one"
                    value="{{workout.exercise_five_modifier_one}} : {{workout.exercise_five_total_one}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_two" name="total_two"
                    value="{{workout.exercise_five_modifier_two}} : {{workout.exercise_five_total_two}}" disabled>
            </div>
            <div class=" btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_three" name="total_three"
                    value="{{workout.exercise_five_modifier_three}} : {{workout.exercise_five_total_three}}" disabled>
            </div>
        </div>
        {% endif %}


        <!--View Workout Exercises Line 6-->

        {% if workout.exercise_six_name %}
        <div class="col-12">
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="category" name="category"
                    value="{{workout.exercise_six_category}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise"
                    value="{{workout.exercise_six_name}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_one" name="total_one"
                    value="{{workout.exercise_six_modifier_one}} : {{workout.exercise_six_total_one}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_two" name="total_two"
                    value="{{workout.exercise_six_modifier_two}} : {{workout.exercise_six_total_two}}" disabled>
            </div>
            <div class=" btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_three" name="total_three"
                    value="{{workout.exercise_six_modifier_three}} : {{workout.exercise_six_total_three}}" disabled>
            </div>
        </div>
        {% endif %}


        <!--View Workout Exercises Line 7-->
        {% if workout.exercise_seven_name %}
        <div class="col-12">
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="category" name="category"
                    value="{{workout.exercise_seven_category}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise"
                    value="{{workout.exercise_seven_name}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_one" name="total_one"
                    value="{{workout.exercise_seven_modifier_one}} : {{workout.exercise_seven_total_one}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_two" name="total_two"
                    value="{{workout.exercise_seven_modifier_two}} : {{workout.exercise_seven_total_two}}" disabled>
            </div>
            <div class=" btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_three" name="total_three"
                    value="{{workout.exercise_seven_modifier_three}} : {{workout.exercise_seven_total_three}}" disabled>
            </div>
        </div>
        {% endif %}


        <!--View Workout Exercises Line 8-->

        {% if workout.exercise_eight_name %}
        <div class="col-12">
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="category" name="category"
                    value="{{workout.exercise_eight_category}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise"
                    value="{{workout.exercise_eight_name}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_one" name="total_one"
                    value="{{workout.exercise_eight_modifier_one}} : {{workout.exercise_eight_total_one}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_two" name="total_two"
                    value="{{workout.exercise_eight_modifier_two}} : {{workout.exercise_eight_total_two}}" disabled>
            </div>
            <div class=" btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_three" name="total_three"
                    value="{{workout.exercise_eight_modifier_three}} : {{workout.exercise_eight_total_three}}" disabled>
            </div>
        </div>
        {% endif %}

        <!--View Workout Exercises Line 9-->

        {% if workout.exercise_nine_name %}
        <div class="col-12">
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="category" name="category"
                    value="{{workout.exercise_nine_category}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise"
                    value="{{workout.exercise_nine_name}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_one" name="total_one"
                    value="{{workout.exercise_nine_modifier_one}} : {{workout.exercise_nine_total_one}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_two" name="total_two"
                    value="{{workout.exercise_nine_modifier_two}} : {{workout.exercise_nine_total_two}}" disabled>
            </div>
            <div class=" btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_three" name="total_three"
                    value="{{workout.exercise_nine_modifier_three}} : {{workout.exercise_nine_total_three}}" disabled>
            </div>
        </div>
        {% endif %}

        <!--View Workout Exercises Line 10-->

        {% if workout.exercise_ten_name %}
        <div class="col-12">
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="category" name="category"
                    value="{{workout.exercise_ten_category}}" disabled>
            </div>
            <div class="btn col-md-3 gx-0">
                <input type="text" class="form-control" id="exercise" name="exercise"
                    value="{{workout.exercise_ten_name}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_one" name="total_one"
                    value="{{workout.exercise_ten_modifier_one}} : {{workout.exercise_ten_total_one}}" disabled>
            </div>
            <div class="btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_two" name="total_two"
                    value="{{workout.exercise_ten_modifier_two}} : {{workout.exercise_ten_total_two}}" disabled>
            </div>
            <div class=" btn col-md-2 gx-0">
                <input type="text" class="form-control" id="total_three" name="total_three"
                    value="{{workout.exercise_ten_modifier_three}} : {{workout.exercise_ten_total_three}}" disabled>
            </div>
        </div>
        {% endif %}

        <!--View Workout Additional Information-->

        
        <div class="col-12">
            <span><label for="view-additional-info"></label>
                Additional Information</span>
            <input type="text" class="form-control" id="view-additional-info" name="additional-information"
                minlength="5" maxlength="200" value="{{ workout.additional_information}}" disabled>
            </input>
        </div>

    </div>
    <div class="row mx-auto">
        <div class="col-5">
        <a href="{{ url_for('edit_workout', workout_id=workout.id) }}" class="btn btn-info">Edit Workout</a>
        </div>
        <div class="col-5">
            <a href="{{ url_for('delete_workout', workout_id=workout.id) }}" class="btn btn-danger">Delete Workout</a>
        </div>
    </div>
        
    {% endblock %}