{% extends "base.html" %}
{% block content %}
<div class="row">
    <h4 class="text-center">
        Workouts
    </h4>
</div>

<div class="row">
  {% for workout in workouts|sort(attribute="workout_date_time") %}
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ workout.workout_title }}</h5>
          <h6 class="card-title">{{ workout.workout_date_time }}</h6>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="{{ url_for('edit_workout', workout_id=workout.id) }}" class="btn btn-success" data-mdb-ripple-init>Edit</a>
          <a href="#" class="btn btn-danger" data-mdb-ripple-init>Delete</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
    <div class="mx-auto text-center">
        <a href="{{ url_for('record_workout') }}" class="btn btn-info">
            Add Workout <i class="fas fa-plus-square right"></i>
        </a>
    </div>

{% endblock %}