{% extends "base.html" %}
{% block content %}
<div class="row">
  <h4 class="text-center">
    Workouts
  </h4>
</div>
<div id ="workout-list-container" class= "row col-12 col-md-6 shadow-lg p-3 mb-5 bg-white rounded mx-auto">
  <form id="workout-search" action="{{url_for('search')}}" method="post" class="row">
          <div class="col-8">
              <input class="form-control me-2" type="text" name="query" id="query" placeholder="Enter your search e.g. by exercise type" aria-label="Search" required>
          </div>
          <div id ="workout-search-button-container" class="col-4">
              <button id="search-button" class="btn" type="submit"><label for="query"><i class="fas fa-search prefix light-blue-text text-darken-4"></i>Search</label></button>
              <a href="{{ url_for('workouts') }}" id = "reset-search" class="btn btn-primary">Reset</a>
          </div>
  </form>
</div>
<div class="row">
  {% for workout in workouts|sort(attribute="workout_date_time") %}
  {% if workout.is_public == True %}
  <div class="col-4 btn">
    <div class="card text-center">
      <h5 class="card-title">{{ workout.workout_title }}</h5>
      <button class="btn" type="button" data-mdb-collapse-init data-mdb-ripple-init
        data-mdb-target="#collapse_{{workout.id}}" aria-expanded="false" aria-controls="collapse_{{workout.id}}">
        <i class="fa-solid fa-3x fa-caret-down"></i>
        <div class="card-body collapse" id="collapse_{{workout.id}}">
          <h6 class="card-date">{{ workout.workout_date_time }}</h6>
          <h6 class="card-date">{{ workout.workout_location }}</h6>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
    </button>
    <a href="{{ url_for('workout_details', workout_id=workout.id) }}" class="btn btn-success">View Full Details</a>
  </div>
  {% endif %}
  {% endfor %}
</div>
<div class="mx-auto text-center">
  <a href="{{ url_for('record_workout') }}" class="btn btn-info">
    Add Workout <i class="fas fa-plus-square right"></i>
  </a>
</div>

{% endblock %}